<div class="season_tabs">
    
    <div class="season_tab ">
        
        <input type="radio" id="tab-1" name="tab-group-1" checked>
        <label for="tab-1">Как инвесторы могут заработать на IPO?</label>
        
        <div class="season_content">
            <span>tabik 1</span>
        </div> 
    </div>
     
    <div class="season_tab">  
        <div class="sub_season_tab">
        <input type="radio" id="tab-2" name="tab-group-1">
        <label for="tab-2">Зачем компании выходят на IPO</label>
    </div>
        
        <div class="season_content">
            <span>tabik 2</span>
        </div> 
    </div>
     
     <div class="season_tab">
        <input type="radio" id="tab-3" name="tab-group-1">
        <label for="tab-3">Почему тогда не все компании выходят на IPO?</label>
      
        <div class="season_content">
            <span>tabik 3</span>
        </div> 
    </div>
       <div class="season_tab">
        <input type="radio" id="tab-4" name="tab-group-1">
        <label for="tab-4">Как проходит процесс IPO</label>
      
        <div class="season_content">
            <span>tabik 4</span>
        </div> 
    </div>
     
 </div>