.season_tabs {
    position: relative;   
    min-height: 360px; /* This part sucks */
    clear: both;
    margin: 25px 0;
  }
  .season_tab {
    width: 286px;
  }
  .season_tab label {
    
      width: 600px;
      height: 68px;
  }
  .season_tab [type=radio] {
    display: none;   
  }
  .season_content {
    position: absolute;
    top: 0;
    left: 286px;
    background: #f1f1f1;
    right: 0;
    bottom: 0;
    padding: 20px;
   
   }
  .season_content span {
    animation: 0.5s ease-out 0s 1 slideInFromTop; 
  }
  [type=radio]:checked ~ label {
   
    border-left: 2px solid #8bc34a;
    z-index: 2;
  }
  [type=radio]:checked ~ label ~ .season_content {
    z-index: 1;
  }