*{ 
    margin: 0;
    padding: 0;
} 
body{ 
    margin: 0;
}

.intro{ 
    width: 100%;
    height: 380px;  
    
    background-image: url("/assets/images/Frame 2177.jpg") ;
   
    //background-image: url();
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items:center ;  
    color: #FFFFFF; 


}

.header{ 
    display: flex;
    align-items: center;
    gap: 64px;
    width: 100%;
    height: 50px;
}

.sup_header{ 
    width: 80%;
    height: 100%; 

    display: flex;
    flex-direction: column;
    row-gap: 40px; 
    padding-top: 14px; 

}

.nav_arr{ 
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav{ 
    list-style-type: none;
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}



.info{ 
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 840px;
}

.btn_show_more{  
    width:  160px; 
    height: 40px;
    background: transparent;
    padding: 8px 24px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF; 
    line-height: 1px;
}


.lang{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px; 
    margin-left: 17px;
}