<div class="intro">
    <div class="sup_header">
        <div class="header">
            <div class="logo">
                <img src="assets/images/iris_logo 1 (1).svg" alt="">

            </div>
            <div class="nav_arr">
                <ul class="nav" *ngFor="let item of titles">
                    <li class="font-300 fs-18_12">{{item.name}}</li>
                </ul>
            </div>
            <div class="font-500 fs-16_24">
                <label>KZ</label>
                <label>RU</label>
                <label>EN</label>
            </div>
        </div>

        <div class="info">
            <div class="font-500 fs-32_800">
                <h1>Торжественная церемония открытия торгов акциями АО НК “КазМунайГаз”</h1>
            </div>
            <div class="font-500 fs-20_20">

                8 декабря 2022 года состоялась торжественная церемония Открытия торгов
                акциями АО НК
                «КазМунайГаз»</div>
            <button class="font-500 btn_show_more">Узнать больше</button>
        </div>
    </div>

</div>