//font size

.fs-18_21 {
  font-size: 18px;
  line-height: 21px;
}


.fs-18_25 {
  font-size: 18px;
  line-height: 25px;
}


.fs-36_432 {
  font-size: 36px;
  line-height: 43.2px;
}
 
.fs-32_800 {
  font-size: 15px;
  line-height: 49.2px;
}

.fs-28_33 {
  font-size: 28px;
  line-height: 33px;
}

.fs-20_20 {
  font-size: 20px;
  line-height: 25px;
  width: 850px
}  

.fs-20-24{
  font-size: 20px;
  line-height: 24px;
}

.fs-16-25{ 
  font-size: 16px;
  line-height: 25px;
}


.fs-16_24 {
  font-size: 16px;
  line-height: 24px;  
}

.fs-12_168 {
  font-size: 12px;
  line-height: 16.8px;
}

.fs-14_168 {
  font-size: 14px;
  line-height: 16.8px;
}

.fs-14_196 {
  font-size: 14px;
  line-height: 19.6px;
} 



.fs-16_224 {
  font-size: 16px;
  line-height: 22.4px;
}

.fs-18_12 {
  font-size: 18px;
  line-height: 12.2px;
}

.fs-16_224 {
  font-size: 16px;
  line-height: 22.4px;
}

.fs-14_224 {
  font-size: 14px;
  line-height: 22.4px;
}
.fs-14_196 {
  font-size: 14px;
  line-height: 19.6px;
}

.fs-12_192 {
  font-size: 12px;
  line-height: 19.2px;
}

.fs-12_168 {
  font-size: 12px;
  line-height: 16.8px;
}

.fs-10_16 {
  font-size: 10px;
  line-height: 16px;
}
