<div class="attention"> 
    <h1 class="header font-700 fs-28_33">ВНИМАНИЕ! Как избежать мошенничеств на IPO?</h1>
    <div class="sub_attention"> 
        <div class="description">
            <span class="font-300 fs-18_252">К сожалению, на волне ожидаемых IPO возникают разные мошеннические схемы.</span>
            <span class="font-300 fs-18_252">Одни мошенники предлагают зарегистрироваться на инвестиционных платформах, обещая улучшить благосостояние народа якобы на IPO национальных компаний. Они создают “инвестиционные” компании и предъявляют фальшивые лицензии на осуществление деятельности на рынке ценных бумаг.</span>
            <span class="font-300 fs-18_252">Другие используют бренды лицензированных брокеров, создают сайты, меняя одну букву в наименовании электронного адреса.</span>
            <span class="font-300 fs-18_252">Чтобы избежать общения с лжеброкером, перепроверяйте информацию о брокере и наличие у него лицензии на официальных сайтах брокеров, Агентства по регулированию и развитию рынка ценных бумаг.</span>
        </div>  
        <div>
        <img src="/assets/images/attention_image.svg" alt="">



    </div>
    
</div>