<div class="contacts"> 
   
    <div class="sub_contacts"> 

        <div class="left_block">
            
                <span class="sub_header font-700 fs-28_33">Контакты</span>
            
            <span class="departament font-700 fs-20-24">Департамент по работе с эмитентами и инвесторами</span> 
            <div class="phone">
                <span class="font-300 fs-14-20">Телефон<br></span>
                <span class="font-700 fs-18_252">+7 (727) 237 53 03</span> 
            </div>   
            <div class="email">
                <span class="font-300 fs-14-20">E-mail<br></span> 
                <span class="font-700 fs-18_252">customers@kase.kz</span> 
             </div> 
             <div class="adress">
            <span class="font-300 fs-14-20">Адрес<br></span>
            <span class="font-700 fs-18_252">г.Алматы, ул. Байзакова, 280<br></span>
            <span class="font-300 fs-14-20">северная башня многофункционального комплекса "Almaty Towers"</span>
        </div>
       
        </div> 
        <div class="right_block">
            <div style="position:relative;overflow:hidden;"><a href="https://yandex.kz/maps/162/almaty/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Алматы</a><a href="https://yandex.kz/maps/162/almaty/house/Y08YfwZlSUEPQFppfX5ydn5gYQ==/?ll=76.916327%2C43.236977&utm_medium=mapframe&utm_source=maps&z=17.05" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Байзакова, 280 — Яндекс Карты</a><iframe src="https://yandex.kz/map-widget/v1/?ll=76.916327%2C43.236977&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg2NzM0MTQ5NhJE0prQsNC30LDSm9GB0YLQsNC9LCDQkNC70LzQsNGC0YssINCR0LDQudC30LDSm9C%2B0LIg0LrTqdGI0LXRgdGWLCAyODAiCg2C1JlCFe7yLEI%3D&z=17.05" width="672" height="411" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>        </div>
    </div>
</div>