
<div class="grid_events"> 
    <div class="look_block">
        <h1 class="header font-700 fs-28_33">Полезные материалы</h1>  
        <div class="look">
        <span class="sub_look font-700 fs-20-24">Посмотреть</span>
        </div>
        <div class="cards">  
            
            <div class="card card1">
                <div class="details"> 
                    <img src="/assets/images/usful_4.svg" alt=""> 
                    <span class="card_description font-700 fs-18-22">Вебинар “Pro IRO: Что нужно знать и как участвовать?”</span>
                
                </div>
            </div>
            <div class="card card2">
                <div class="details"> 
                    <img src="/assets/images/usful_3.svg" alt=""> 
                    <span class="card_description font-700 fs-18-22">KASE Talks c Жанадил
                        Ернаром Бейсеновичем и Цалюк Андреем Юрьевичем</span>
                
                </div>
            </div>
            <div class="card card3">
                <div class="details">
                    <img src="/assets/images/usful_2.svg" alt="">
                    <span class="card_description font-700 fs-18-22">Обучающее видео “Что такое IPO”</span>
                
                </div>
            </div> 
            <div class="card card4">
                
                <div class="details">
                    <img src="/assets/images/usful_1.svg" alt=""> 
                    <span class="card_description font-700 fs-18-22">Обучающее видео “Как принять участие в IPO”</span>
                
                
                </div>
             </div>
        </div> 
    </div>


    <div class="read_block">
    <div class="look">
        <span class="sub_look font-700 fs-20-24">Почитать</span>
        </div>
    <div class="cards2">  
        
        <div class="card2 card1">
            <div class="details"> 
                <img src="/assets/images/read3.svg" alt=""> 
                <span class="card_description font-700 fs-20-24">Как торговать на KASE</span>
               
            </div>
        </div>
        <div class="card2 card2">
            <div class="details"> 
                <img src="/assets/images/read2.svg" alt=""> 
                <span class="card_description font-700 fs-20-24">О бирже</span>
               
            </div>
        </div>
        <div class="card2 card3">
            <div class="details">
                <img src="/assets/images/read1.svg" alt="">
                <span class="card_description font-700 fs-20-24">Обучающее видео “Что такое IPO”</span>
            </div>
        </div> 
    </div>
        
    </div>


    <div class="listen_block">
        <div class="look">
            <span class="sub_look font-700 fs-20-24">Послушать</span>
            </div> 

            <div class="info"> 
                <div class="left_info">
                    <img src="/assets/images/listen.svg" alt=""> 
                    <span class="header font-700 fs-20_24">Участвуй в IPO с KASE</span> 
                    <span class="sub_header font-500 font-14_196">Эпизод 1 | Что такое IPO?</span> 
                    <span class="description font-300 font-16_224">В эфире программа «Участвуй в IPO с KASE». С нами Андрей Цалюк, заместитель Председателя Правления Казахстанской фондовой биржи.</span> 
                    <span class="sub_description font-300 font-14_196">Послушать все эпизоды на BUSINESS FM</span>
                </div> 
                <div class="right_info">
                <span class="font-700 font-16_224">1. Что такое IPO?</span>  
                <audio>
                    <source src="/assets/audio/dog_sound.mp3" type="audio/mpeg">
                </audio>
                <span class="font-700 font-16_224">2. Почему IPO интересно инвесторам?</span> 
                <audio>
                    <source src="/assets/audio/dog_sound.mp3" type="audio/mpeg">
                </audio>
                <span class="font-700 font-16_224">3. Как готовят IPO?</span> 
                <audio>
                    <source src="/assets/audio/dog_sound.mp3" type="audio/mpeg">
                </audio>
                <span class="font-700 font-16_224">4. Как участвовать в IPO?</span> 
                <audio>
                    <source src="/assets/audio/dog_sound.mp3" type="audio/mpeg">
                </audio>
                <span class="font-700 font-16_224">5. Нужно ли инвестору готовиться к IPO?</span>
                <audio>
                    <source src="/assets/audio/dog_sound.mp3" type="audio/mpeg">
                </audio>
                </div>
            </div>

        </div>   

</div>
