
.look_block{ 
  width: 85%; 
  height: 310px;
} 
.read_block{ 
  width: 85%; 
  height: 385px;
}
.listen_block{ 
  width: 85%; 
 height: 450px;
}

.sup_grid{ 
background-color: #f8f9fa;
}
.header{ 
    width: 100%; 
    text-align: left; 
    
} 

.sub_header{ 
  margin-top: 4px;
} 

.description{ 
  margin-top: 12px;
} 
.sub_description{ 
  margin-top: 24px;
}



.look{
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}
.sub_look{ 
  border-bottom: 2px solid #038726;
  padding-bottom:  4px;
}


.grid_events{ 
    width: 100%;  
    height: 1401px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 100px;
    padding-top: 60px;   
    background-color: #f8f9fa;
    
} 
.cards{
    width: 100%; 
    height: 100%; 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(267px,1fr));
  
    grid-gap: 40px; 
    text-align: center;   
    justify-items: center;  
    
  }  

  .cards2{
    width: 100%; 
    height: 100%; 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(364px,1fr));
    grid-gap: 40px;
    text-align: center;   
    justify-items: center;  
    
    
  }  

  .card2{
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 320px;
    text-align: left;      
    }  



  .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  text-align: left;      
  }  

  .card_description{ 
    width: 85%;
  }


  .details{ 
    display: flex;
    flex-direction: column;
    align-items: center; 
 
  }


  .info{ 
    display: flex; 
    flex-direction: row;
  }  
  .right_info{  
    width: 40%;
    display: flex;
    flex-direction: column;
  }

.left_info{  
  width: 55%;
  display: flex;
    flex-direction: column;
}

  .listen{
    width: 45%; 
    text-align: center;   
    justify-items: center;   
  
  }







  body
{
 width:100%;
 margin:0 auto;
 padding:0px;
 font-family:helvetica;
 background-color:#58ACFA;
}
#wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:995px;
}
#player
{
 background-color:#084B8A;
 width:400px;
 margin-left:300px;
 padding:5px;
 box-sizing:border-box;
}
input[type="image"]
{
 float:left;
 height:20px;
 margin-left:2px;
 margin-right:5px;
 margin-top:2px;
}
#vol_img
{
 margin-left:150px;
 width:20px;
}