<div class="video_block">
    <div class="sub_video_block ">
        <div class="left_block">
            <h1>
                Зачем инвестировать в IPO на KASE?
            </h1>
            <video>
                <source url="https://youtu.be/HS8lV1jAPho">
            </video>
            <h3>
                KASE - ваш партнер уверенного роста!
            </h3>
            <label>
                Казахстанская фондовая биржа (KASE) - это площадка привлечения финансирования<br>для всех казахстанских
                компаний, и особенно - для МСБ и растущих предприятий. KASE<br>сегодня – это универсальная площадка, 58
                членов биржи, 147 компаний-эмитентов,<br> 382 корпоративных ценных бумаг. Добро пожаловать на KASE!
            </label>
        </div>

        <div class="right_block">

            <h2 class="font 500 fs-18_40">Инвестируя в IPO на KASE, у вас появляется<br>возможность:</h2>

            <li>стать совладельцем успешных, стабильно <br>развивающихся казахстанских компаний,<br> выходящих на IPO
            </li>
            <li>получить доступ к другим инструментам,<br> торгуемым на KASE</li>
            <h2>Эти возможности позволят вам:</h2>
            <li>создать источник дополнительного<br>дохода</li>
            <li>сформировать капитал на долгосрочные<br>цели (образование, пенсия)</li>
            <li>внести свой вклад в развитие бизнеса<br>отдельных компаний и экономики страны
            </li>
        </div>
    </div>


    <div *ngFor="let item of investors">
        <span>{{item.name}}</span>
        <ul *ngFor="let i of item.title">
<li>{{i.info}}</li>
<li>{{i.info1}}</li>
        </ul>

    </div>
</div>