<div class="grid_events">
    <h1 class="header font-700 fs-28_33">Как участвовать в IPO</h1>

    <div class="cards">  
        
        <div class="card card1">
            <div class="details"> 
               <p class="font-700 fs-16_224">1 шаг</p> 
               <img src="/assets/images/step1.svg" alt="">  
               <h3 class="font-700 fs-20-24">Договор с брокером</h3> 
               <p class="font-300 fs-16_24">Заключить договор на брокерское<br> обслуживание с брокером, который <br>откроет вам счет</p>
            </div>
        </div>
        <div class="card card2">
            <div class="details">
                <p class="font-700 fs-16_224">2 шаг</p> 
                <img src="/assets/images/step2.svg" alt=""> 
                <h3 class="font-700 fs-20-24">Пополнить счет</h3>  
                <p class="font-300 fs-16_24">Пополнить счет, открытый брокером,<br> деньгами</p>
            </div>
        </div>
        <div class="card card3">
            
            <div class="details">
               <p class="font-700 fs-16_224">3 шаг</p> 
               <img src="/assets/images/step3.svg" alt=""> 
               <h3 class="font-700 fs-20-24">Подать заявку</h3> 
               <p class="font-300 fs-16_24">При объявлении предстоящего IPO<br> подать заявку брокеру</p>
               
            </div>
        </div> 
    </div>

</div>