<div class="grid_events">
    <h1 class="header font-700 fs-28_33">Мероприятия</h1>

    <div class="cards">  
        
        <div class="card card1">
            <div class="details"> 
               <span class="font-300 fs-14_20">Ярмарка</span> 
               <span class="font-700 fs-40-20">10 сентября</span>  
                <span class="font-500 fs-20-24">KASE Fair в г.Алматы</span>
               <span class="font-300 fs-14_20">Скоро</span>
            </div>
        </div>
        <div class="card card2">
            <div class="details">
                <span class="font-300 fs-14_20">Ярмарка</span> 
                <span class="font-700 fs-40-20">17 сентября</span>  
                <span class="font-500 fs-20-24">KASE Fair в г.Нур-Султан</span> 
                <span class="font-300 fs-14_20">Скоро</span>
            </div>
        </div>
        <div class="card card3">
            
            <div class="details">
               <span class="font-300 fs-14_20">Вебинары</span>
               <span class="font-700 fs-40-20">23 сентября</span>  
               <span class="font-500 fs-20-24">Обучающий вебинар</span>
               <span class="font-300 fs-14_20">Скоро</span>
               
            </div>
        </div> 
    </div>

</div>