.header{ 
    width: 85%; 
    text-align: left;
}
.grid_events{ 
    width: 100%; 
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 60px;   
    background-color: #f8f9fa;
    
} 


.cards{
    width: 85%; 
    height: 100%; 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 20px;
    grid-gap: 40px;
    text-align: center;   
    justify-items: center; 
    
  } 
  
  .card{
   background-color: #FFFFFF;
    width: 364px;
    height: 320px;
    text-align: left; 
    border: 1px solid #F3F4F5;
    border-radius: 12px;  
    color: #FFFFFF;
  }  



.card1{ 
    background-image: url("/assets/images/events1.svg");
} 
.card2{ 
    background-image: url("/assets/images/events2.svg");
}
.card3{ 
    background-image: url("/assets/images/events3.svg");
}


  .details{ 
    padding: 24px;
  }