<div class="grid_events">
    <h1 class="header font-700 fs-28_33">Мероприятия</h1>

    <div class="cards">  
        
        <div class="card card1">
            <div class="details"> 
               <p class="font-300 fs-14_20">Ярмарка</p> 
               <h3 class="font-700 fs-40-20">10 сентября</h3>  
                <h2 class="font-500 fs-20-24">KASE Fair в г.Алматы</h2>
               <p class="font-300 fs-14_20">Скоро</p>
            </div>
        </div>
        <div class="card card2">
            <div class="details">
                <p class="font-300 fs-14_20">Ярмарка</p> 
                <h3 class="font-700 fs-40-20">17 сентября</h3>  
                <h2 class="font-500 fs-20-24">KASE Fair в г.Нур-Султан</h2> 
                <p class="font-300 fs-14_20">Скоро</p>
            </div>
        </div>
        <div class="card card3">
            
            <div class="details">
               <p class="font-300 fs-14_20">Вебинары</p>
               <h3 class="font-700 fs-40-20">23 сентября</h3>  
               <h2 class="font-500 fs-20-24">Обучающий вебинар</h2>
               <p class="font-300 fs-14_20">Скоро</p>
               
            </div>
        </div> 
    </div>

</div>